/*/ CSS Ode to Uno /*/

/*
<link href="https://fonts.googleapis.com/css?family=Luckiest+Guy|Questrial" rel="stylesheet">

font-family: 'Questrial', sans-serif;
font-family: 'Quintessential', cursive;
font-family: 'Macondo', cursive;
*/

body {
    background: #35a956;
}

.wrapper {
    background-image: url(/src/images/lucky.png);
    max-width: 100%;
    max-height: 100vh;
    min-height: 100vh;
/*    overflow: hidden; */
    width: 100%;
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: center center;
    border-right: 10px double white;
    border-left: 10px double white;
    border-radius: 1em;
}

.titleBox {
    font-family: 'Quintessential', cursive;
    margin-top: -2em;
    margin-left: -20em;
    padding-bottom: 1em;
    margin-bottom: 1em;

}

.titleBox h1 {
    font-size: 7em;
    color: #fff;
    text-shadow: 2px 2px 10px black;
}
.titleBox h2 {
    font-family: 'Macondo', cursive;
    margin-top: -1em;
}


/*/  Action Bar /*/
.actions {
margin-top: -4em;
margin-bottom: 5em;
}

.actions button {
    border-radius: 5em;
}

/*/  Your Cards  /*/
.yourCards {
    align-content: center;
    clear: both;
    border: 3px outset #fff;
    width: 124%;
    max-height: 350px;
    height: 350px;
    border-radius: 2em;
    padding: .2em;
    margin-left: -10em;
    margin-top: 10em;
}

.hand {
    margin-left: -6em;
    margin-top: -1em;
}

.hand h3 {
    color: white;
    font-size: 2em;

}

.playerHand {
    float: left;
    clear: right;
    margin-top: -17em;
    border: 10px double #f0f5f0;
    padding: 12px;
    max-width: 205px;
    max-height: 300px;
    height: 375px;
    border-radius: 2em;
    background: #342c2c;
    margin-left: 1em;
}

.cardNo {
    font-family: 'Macondo', cursive;
    max-width: 60px;
    max-height: 60px;
    width: 60px;
    height: 60px;
    border-top-left-radius: 2em;
    margin-left: 0em;
    margin-top: -.3em;
    margin-bottom: 1em;
    font-size: 4em;
    font-weight: bolder;
    color: #fff;
}

.cardNoTwo {
    color: #fff;
    font-family: 'Macondo', cursive;
    max-width: 60px;
    max-height: 60px;
    width: 60px;
    height: 60px;
    border-bottom-right-radius: 2em;
    margin-left: 1.75em;
    margin-top: 2em;
    font-size: 4.7em;
    font-weight: bolder;
}

.cardPic img {
    /* border: 2px outset #9cbd0d; */
    float: left;
    clear: both;
    padding: 12px;
    max-width: 200px;
    max-height: 375px;
    height: 175px;
    margin-left: -1.2em;
    margin-top: -13em;
}


/*/  Stack Cards /*/
.last {
    float: left;
    clear: both;
    margin-top: -7em;
    margin-bottom: 3em;
}

.draw {
        float: right;
        clear: both;
        margin-top: -25em;
        margin-right: -3em;
        margin-bottom: 5em;
}

.playerTitle{
    color: #fff;
    margin-top: -11em;
    margin-left: -3em;
    font-size: 1.7em;
    padding-right: 1em;
}

.computerTitle {
    color: #fff;
    margin-top: -12em;
    margin-left: 10em;
    font-size: 1.5em;
    padding-left: 1em;  
}



.last, .draw {
    font-family: 'Questrial', sans-serif;
    font-family: 'Quintessential', cursive;
    font-family: 'Macondo', cursive;
    color: white;
    text-shadow: 1px 1px 10px rebeccapurple;
}

#last   {
    margin-top: 6em;
}

/*/ Active Deck  /*/

#activeDeck {
    background: #342c2c;
    margin-top: -3em;
}


/*/  Draw Deck  /*/

#drawDeck { 
    background: #342c2c;
    margin-top: -23em;
    float: right;
    clear: both;
    margin-right: 1em;
}

.copyright {
    margin-bottom: 1em;
    text-align: center;
    max-height: 35px;
    height: 35px;
    background: #342c2c;
    color: whitesmoke;
    border-top: 2px outset white;
    border-bottom: 2px inset white;
}

/*/  SCORE BOX  /*/
.scoreBox {
    display: block;
    float: right;
    margin-top: -13em;
    margin-right: -19em;
    clear: both;
    text-align: end;
    font-family: 'Questrial', sans-serif;
    padding: 25px;   
    border: 2px inset #342c2c;
    border-radius: 5em;
}
/*
.x {
color: #d26227;
color: #c71562;
color: #663399;
color: #c71515;
color: #000000;
}*/

.instructions {
    color: #342c2c;
    border: 2px double #342c2c;
}

#one {
    background: #35a956;
}